<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="symbol">Symbol</th>
    <td mat-cell *matCellDef="let stock"><b>{{ stock.symbol }}</b></td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</th>
    <td mat-cell *matCellDef="let stock">{{ stock.name }}</td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="price">Price</th>
    <td mat-cell *matCellDef="let stock">{{ stock.price }}$</td>
  </ng-container>
  <ng-container matColumnDef="initial_price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="initial_price">Initial Price</th>
    <td mat-cell *matCellDef="let stock">{{ stock.initial_price }}$</td>
  </ng-container>
  <ng-container matColumnDef="change">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="raw_change">Change $</th>
    <td mat-cell *matCellDef="let stock" [ngClass]="{
     'green': stock.price > stock.initial_price,
     'red': stock.price < stock.initial_price
    }">{{ stock.change }}$</td>
  </ng-container>
  <ng-container matColumnDef="percent_change">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="raw_percent_change">Change %</th>
    <td mat-cell *matCellDef="let stock" [ngClass]="{
     'green': stock.price > stock.initial_price,
     'red': stock.price < stock.initial_price
    }">{{ stock.percent_change }}%</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
